<% message_user = message.user %>
<% is_own_message = message_user&.id == current_user&.id %>

<div id="message_<%= message.id %>"
     class="message <%= is_own_message ? 'own-message' : 'other-message' %>"
     data-message-user-id="<%= message_user&.id %>">

  <div class="message-bubble">
    <% unless is_own_message %>
      <div class="message-header">
        <div class="message-avatar" style="background: <%= avatar_color(message_user) %>">
          <%= avatar_initial(message_user) %>
        </div>
        <span class="message-user"><%= display_name(message_user) %></span>
      </div>
    <% end %>

    <div class="message-body">
      <%= simple_format(h(message.body)) %>
    </div>

    <small class="timestamp">
      <i class="fas fa-clock timestamp-icon"></i>
      <%= message_timestamp(message.created_at) %>
    </small>
  </div>
</div>