<% message_user = message.user %>

<div id="message_<%= message.id %>"
     class="message"
     data-message-user-id="<%= message_user&.id %>">

  <div class="message-bubble">
    <div class="message-header" style="display: none;">
      <div class="message-avatar" style="background: <%= avatar_color(message_user) %>">
        <%= avatar_initial(message_user) %>
      </div>
      <span class="message-user"><%= display_name(message_user) %></span>
    </div>

    <div class="message-body">
      <%= simple_format(h(message.body)) %>
    </div>

    <small class="timestamp">
      <i class="fas fa-clock timestamp-icon"></i>
      <%= message_timestamp(message.created_at) %>
    </small>
  </div>
</div>