<% content_for :title, "Chat - Messenger" %>

<div class="chat-container" data-controller="chat" data-chat-user-id="<%= current_user.id %>">
  <%= turbo_stream_from "messages" %>

  <div id="message-display" data-chat-target="messages">
    <% if @messages.any? %>
      <%= render @messages %>
    <% else %>
      <div class="empty-state">
        <i class="fas fa-comments empty-icon"></i>
        <p class="empty-text">No messages yet. Start the conversation!</p>
      </div>
    <% end %>
  </div>

  <div class="message-input-container" data-controller="message-form">
    <%= form_with model: @message, local: false, data: { action: 'submit->message-form#validate' } do |f| %>
      <div class="field has-addons">
        <div class="control is-expanded">
          <%= f.text_field :body,
              id: 'message-input',
              class: 'input',
              placeholder: 'Type your message...',
              maxlength: 1000,
              data: { action: 'input->message-form#updateCounter' } %>
        </div>
        <div class="control">
          <%= f.submit class: 'button is-primary' do %>
            <span class="icon mr-1"><i class="fas fa-paper-plane"></i></span>
            <span>Send</span>
          <% end %>
        </div>
      </div>
      <%= render 'shared/character_counter' %>
    <% end %>
  </div>
</div>